<div class="container">
  <div class="row" style="margin-top: 40px;">
    <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Lista de fotos</div>
        <div class="panel-body">
          <div id="pictures-chart" style="height: 250px;">

            <!-- colocar aqui la lista de fotos de la API -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <script>
  new filterView();
</script> -->
