<div class="container">
  <div class="row">
    <div class="total-box col-md-3">
      <span>Lista de fotos</span>
      <button type="button" class="btn btn-primary"><%= link_to "Fotos", pictures_path , class: "text-white" %> </button>
    </div>
    <div class="total-box col-md-3">
      <span>Favoritas</span>
      <button type="button" class="btn btn-primary"><%= link_to "Favoritas", favorites_path , class: "text-white" %> </button>
    </div>
  </div>

  <div class="row" style="margin-top: 40px;">
    <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Lista de fotos</div>
        <div class="panel-body">
          <div id="pictures-chart" style="height: 250px;">

            <!-- colocar aqui la lista de fotos de la API -->
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="box col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">Por Día</div>
        <div class="panel-body">
          <div id="daily-pictures-chart" style="height: 250px;">
            <!-- Colocar aqui la lista de favoritos -->
          <!-- </div> -->
        <!-- </div> -->
      <!-- </div> -->
    <!-- </div> --> -->
  </div>
</div>

<%= yield %>

<!-- <script>
  new filterView();
</script> -->
